<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>shop</title>
  </head>
  <body>
    <header>
      <section id="header">
        <a href="#"><img src="./img/logo.png" alt="" /></a>

        <div>
          <ul id="navbar">
            <li><a href="index.html">Home</a></li>
            <li>
              <a class="active" href="./components//shop/shop.html">shop</a>
            </li>
            <li><a href="#Blog">Blog</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="#Contact">Contact</a></li>
            <li id="lg-bag">
              <a href="#cart"><i class="fa fa-shopping-bag"></i></a>
            </li>
            <div id="close"><i class="fa fa-times"></i></div>
          </ul>
        </div>
        <div id="mobile">
          <a href="cart.html"><i class="fa fa-shopping-bag"></i></a>
          <i id="bar" class="fas fa-outdent"></i>
        </div>
      </section>
    </header>
  </body>
</html>
