@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

 .normal-btn{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #FFF;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}


.white-btn{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}
body{
    width:100%;
    background-color: white;
}

#header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba( 0, 0, 0, .06);
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 999;
}
.nav{
    display: flex;
    position: relative;
}
#navbar{
    display:flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar #close{
    z-index: 99;
    cursor: pointer;
    
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#lg-bag {
    position: relative;
}
#lg-bag a{
    color: #2b2b2b;
}
#lg-bag span{
        display: flex;
        width: 14px;
        height: 14px;
        font-size: 14px;
        background-color: red;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: 12px;
}
#close{
    display: none;
}
#navbar li a:hover,
#navbar li a.active{
   color:#088178;
}


#mobile{
    display: none;
    align-items: center;
}
#mobile i, .mobile a{
    cursor: pointer;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navbar.active{
    right: 0px;
}

#product1{
    text-align: center;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba( 0, 0, 0, .02);
    margin: 15px 0;
    position: relative;
    transition: 0.2s ease;
}

#product1 .pro-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}
.pro a{
    position: relative;
    bottom: 26px;
    left: 90px;
    color: #088178;
}
#product1 .pro:hover{
    box-shadow: 20px 20px  30px rgba( 0, 0, 0, .06);
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color:#1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181 , 25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid  #cce7d0;
    position:absolute;
    bottom: 20px;
    right: 10px;
}

.cartTab{
    width: 380px;
    height: 90vh;
    background: #e3e6f3;
    padding: 1rem;
    color: #eee;
    position: fixed;
    top: 5rem;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: 0.5s ease-in-out;
}

.cartTab h2{
    padding: 5px;
    font-size: 2.5rem;
    font-weight: 400;
    color: #484848;
}
/* .showCart */
.activeShowCart{
    position: fixed;
    top: 5rem;
    right: 0;
}
/* body  .active .cartTab {
    right: 0;
} */

.cartTab .btn{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}
.cartTab  .btn button{
    background-color: #088178;
    border: none;
    font-weight: 500;
    color: #fff;
    padding: .8rem;
    border-radius: 6px;
    cursor: pointer;
}
.cartTab .btn .close{
    background: rgb(216, 10, 10);
}

.cartTab .listCart .item img{
    width: 70px;
    border-radius: 1rem;
    border: 1px solid rgb(190, 188, 188);
    padding: 4px;
}

.cartTab .listCart .item{
    display: flex;
    justify-content: space-around;
    padding: 3px ;
    gap: 10px;
    text-align: start;
    align-items: center;
    color: #000;
}

.listCart .quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.listCart .quantity span{
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
    background-color: #18879b;
    color: #dacccc;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    padding-top: 3px;
    
}

.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #fff;
}

.listCart .item:nth-child(even){
   background: #d8d8d8;
   border-radius: 5px;
   padding-top: 5px;
}
.listCart{
    overflow: auto;
}


@media (max-width:799px){
    .section-p1{
        padding: 40px 80px;
    }
    #close{
        display: block;
    }

    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right:-300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 040px 60pxx rgba(0,0,0,.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar .active{
        right:0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }

  #mobile{
    display: block;
  }

    
#close{
    position: absolute;
    top: 30px;
    left:30px;
    color:#222;
    font-size: 24px;
    display:initial;
}
.nav{
    position: relative;
}
#lg-bag{
    display: absolute;
    left: 12rem;
    
}

#hero{
    height: 100vh;
    width: 100%;
    background-position:top 30% right 30% ;
}

#feature{
    justify-content: space-around;
    flex-wrap: wrap;
}

#feature .fe-box{
    margin: 10px 10px;
}


#product1 .pro-container{
    justify-content: center;
}

#product .pro{
  margin: 15px 0;
}


.cartTab{
    width: 280px;
    height: 90vh;
    background: #e3e6f3;
    padding: 1rem;
    color: #eee;
    position: fixed;
    top: 5rem;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: 0.5s ease-in-out;
}

.cartTab h2{
    padding: 5px;
    font-size: 2.5rem;
    font-weight: 400;
    color: #484848;
}
/* .showCart */
.activeShowCart{
    position: fixed;
    top: 5rem;
    right: 0;
}
/* body  .active .cartTab {
    right: 0;
} */

.cartTab .btn{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}
.cartTab  .btn button{
    background-color: #088178;
    border: none;
    font-weight: 500;
    color: #fff;
    padding: .8rem;
    border-radius: 6px;
    cursor: pointer;
}
.cartTab .btn .close{
    background: rgb(216, 10, 10);
}

.cartTab .listCart .item img{
    width: 60px;
    border-radius: 1rem;
    border: 1px solid rgb(190, 188, 188);
    padding: 4px;
}

.cartTab .listCart .item{
    display: flex;
    justify-content: space-around;
    padding: 3px ;
    gap: 10px;
    text-align: start;
    align-items: center;
    color: #000;
}

.listCart .quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.listCart .quantity span{
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
    background-color: #18879b;
    color: #dacccc;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    padding-top: 3px;
    
}

}


@media(max-width: 477px){
    .section-p1{
        padding: 18px;
    }
    #header{
        padding: 17px 27px;
    }
   
    h1{
        font-size: 38px;
    }
      
    h2{
        font-size: 39px;
    }
    #hero{
        padding: 0px 18px;
        background-position: 55%;
    }
    #lg-bag {
        position: relative;
        left: 4rem;
    }
   
     #feature{
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
     }


    #feature .fe-box{
        width:155px;
        margin: 0 0 7px 0;
    }

    #product .pro{
        width: 100%;
    }


    
.cartTab{
    width: 280px;
    height: 90vh;
    background: #e3e6f3;
    padding: .6rem;
    color: #eee;
    position: fixed;
    top: 5rem;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: 0.5s ease-in-out;
}

.cartTab h2{
    padding: 5px;
    font-size: 2rem;
    font-weight: 400;
    color: #484848;
}
/* .showCart */
.activeShowCart{
    position: fixed;
    top: 5rem;
    right: 0;
}
/* body  .active .cartTab {
    right: 0;
} */

.cartTab .btn{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: .6rem;
}
.cartTab  .btn button{
    background-color: #088178;
    border: none;
    font-weight: 500;
    color: #fff;
    padding: .5rem;
    border-radius: 6px;
    cursor: pointer;
}
.cartTab .btn .close{
    background: rgb(216, 10, 10);
}

.cartTab .listCart .item img{
    width: 40px;
    border-radius: 1rem;
    border: 1px solid rgb(190, 188, 188);
    padding: 4px;
}

.cartTab .listCart .item{
    display: flex;
    justify-content: space-around;
    padding: 3px ;
    gap: 7px;
    text-align: start;
    align-items: center;
    color: #000;
}

.listCart .quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.listCart .quantity span{
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
    background-color: #18879b;
    color: #dacccc;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    padding-top: 3px;
    
}

  
}